In [37]:
# 데이터 불러오기

fileName = "copier_maintenance.txt"

import pandas as pd

file = pd.read_csv(fileName, sep = '\t')


file

       minutes  copiers
0           20        2
1           60        4
2           46        3
3           41        2
4           12        1
5          137       10
6           68        5
7           89        5
8            4        1
9           32        2
10         144        9
11         156       10
12          93        6
13          36        3
14          72        4
15         100        8
16         105        7
17         131        8
18         127       10
19          57        4
20          66        5
21         101        7
22         109        7
23          74        5
24         134        9
25         112        7
26          18        2
27          73        5
28         111        7
29          96        6
30         123        8
31          90        5
32          20        2
33          28        2
34           3        1
35          57        4
36          86        5
37         132        9
38         112        7
39          27        1
40         131        9
41          34        2
42          27        2
43          61        4
44          77        5

In [8]:
# f-test

from scipy.stats import f_oneway

data1 = [1, 2, 3]
data2 = [4, 546, 474]
data3 = [23, 34, 878]
statistic, p_value = f_oneway(data1, data2, data3)

print(statistic)
print(p_value)

0.9714516516785714
0.43103836298649584